
@using System.Security.Claims

@using Microsoft.AspNetCore.Components.Authorization

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FRATERNITA SAN GIUSEPPE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT"> 
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="../../../css/normalize.css" rel="stylesheet" type="text/css"> 
    <link href="../../../css/site.css" rel="stylesheet" type="text/css">
    @RenderSection("Header", required: false)

</head>

<body>
    <header class="logged"> 
      <div id="headerDefault">
          <img id="logo" src="../../../img/logo.svg" />
          <div class="d-none d-lg-block">Profilo <img src="../../../img/icon-profilo.svg" /></div>
      </div>   
      <nav id="headerMenu" class="navbar navbar-expand-xl navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../../../img/logo.svg" /></a>
          <div class="d-none d-lg-block" id="profiloBox"><span class="d-none">Profilo</span> <img src="../../../img/icon-profilo.svg" /></div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">chi siamo</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">avvisi</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">bacheca</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">news</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">documenti</a>
              </li>                             
            </ul>
            <form class="d-flex">
              <input class="form-control inputBase" type="search" placeholder="CERCA" aria-label="cerca">
              <!-- <button class="btn btn-outline-success" type="submit">CERCA</button> -->
            </form>
          </div>
        </div>
      </nav>    
    </header> 
            <!-- Sales stats -->
        @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)

    <footer>
        <span>Il sito è gestito e realizzato da</span> 
        <div>
                <img src="../../../img/logoImage.svg" />
                <span>ASSOCIAZIONE PER LO SVILUPPO
                <br />           
                CULTURALE E SOCIALE SAN GIUSEPPE</span>
        </div>
        <p class="d-lg-none">© 2021 /c.f. 97224720157 </p>
        <p class="d-none d-lg-block">© 2021 Associazione per lo Sviluppo Culturale e Sociale San Giuseppe, sede in Milano via Caccialepori 23 - codice fiscale 97224720157  </p>
    </footer> 

     <!--  JQUERY  -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <!--  END JQUERY  -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>



