<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>FRATERNITA SAN GIUSEPPE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT"> 
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    <link href="~/css/homepage.css" rel="stylesheet" type="text/css">
     @RenderSection("Header", required: false)

</head>
<body>
    <header>
        <div id="headerDefault">
            <img id="logo" src="../../../img/logo.svg" />
      <!--      <div class="d-none d-lg-block">Profilo <img src="../../../img/icon-profilo.svg" /></div>-->
        </div>
    </header>

    <!-- Sales stats -->
    @RenderBody()


    @await RenderSectionAsync("Scripts", required: false)

    <footer >
        <span style="font-size: 1.0rem">Il sito è gestito e realizzato da</span>
        <div>
            <img src="../../../img/logoImage.svg" />
            <span style="font-size: 1.0rem">
                ASSOCIAZIONE PER LO SVILUPPO
                <br />
                CULTURALE E SOCIALE SAN GIUSEPPE
            </span>
        </div>
        <p class="d-lg-none">© 2021 /c.f. 97224720157 </p>
        <p class="d-none d-lg-block">© 2021 Associazione per lo Sviluppo Culturale e Sociale San Giuseppe, sede in Milano via Caccialepori 23 - codice fiscale 97224720157  </p>
    </footer>

    <!--  JQUERY  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--  END JQUERY  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Script", required: false)

</body>
</html>



