<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="webPages:Version" value="3.0.0"/>
		<add key="webpages:Enabled" value="true" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>