@{
    ViewData["Title"] = "Home Page";

}

@section Header {
    <link href="../../../css/logged.css" rel="stylesheet" type="text/css">
}
<main>
    <section>
    <h1 class="titleBase">Home</h1>
    <section id="sectionInfo">
      
        <div id="sectionInfoElements">
            <div>
                <figure><img src="../../../img/phone.svg"> </figure>
                <span>
                    Archivio documenti
                    lezioni, ritiri, appunti
                    pdf/ePub
                </span>
            </div>
            <div>
                <figure><img src="../../../img/puzzle.svg"> </figure>
                <span>
                    Avvisi
                    della vita di Fraternità
                </span>
            </div>
            <div>
                <figure><img src="../../../img/people.svg"> </figure>
                <span>
                    Bacheca
                    interscambio notizie
                    personali
                </span>
            </div>
            <div>
                <figure><img src="../../../img/fulmine.svg"> </figure>
                <span>
                    Gli ultimi<br>
                    aggiornamenti
                </span>
            </div>
            <div>
                <figure><img src="../../../img/fiore.svg"> </figure>
                <span>
                    Ritiri, eventi,<br>
                    dirette streaming
                </span>
            </div>
        </div>
    </section>
    </section>

</main>