@{
    ViewData["Title"] = "Home Page";

}

@section Header {
    <link href="../../../css/logged.css" rel="stylesheet" type="text/css">
}
<main>
    <section>
    <h1 class="titleBase">Home</h1>
    <section id="sectionInfo">
      
        <div id="sectionInfoElements">
            <div>
                <a href="/Avvisi/Index" style="text-decoration:unset; color:unset">
                    <figure><img src="../../../img/Megafono.svg" width="60"> </figure>
                    <span>
                        Avvisi
                    </span>
                </a>
            </div>
            <div>
                <a href="/Avvisi/Index" style="text-decoration:unset; color:unset">
                    <figure><img src="../../../img/documenti.svg" width="60"> </figure>
                    <span>
                        Documenti
                    </span>
                </a>
            </div>
            <div>
                <a href="/FondoComune/Details" style="text-decoration:unset; color:unset">
                    <figure><img src="../../../img/fondocomune.svg" width="60"> </figure>
                    <span>
                        Fondo comune
                    </span>
                    </a>
            </div>
            <div>
                <a href="/Avvisi/Index" style="text-decoration:unset; color:unset">
                    <figure><img src="../../../img/iscrizione.svg" width="60"> </figure>
                    <span>
                        Iscrizione esercizi
                    </span>
                </a>
            </div>
            <div>
                <a href="/Avvisi/Index" style="text-decoration:unset; color:unset">
                    <figure>  <img src="../../../img/logoImage.svg" /> </figure>
                    <span>
                        donazioni
                    </span>
                </a>
            </div>
        </div>
    </section>
    </section>

</main>