@{
    ViewData["Title"] = "Home Page";
}

@section Header {
        <link href="../../../css/archivio.css" rel="stylesheet" type="text/css">
}

 
    <section id="mainSection">
      <div class="content">
          <span class="textBase">Archivio documenti</span>
              <h2>La fraternità: è una vita</h2>
              <p class="textBase">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam. </p>  
              <input type="email" class="form-control inputBase" id="emailLogin" aria-describedby="emailHelp">
    </div>
    </section>
    <section id="documentSection">
      <div>
        <span class="textBase">Documenti</span> 
        <div id="filtersContainer">
          <input class="form-control" list="datalistOptions" id="anno_list" placeholder="Selezione personale" >
          <datalist id="datalistOptions">
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
          </datalist>
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="ANNO" >
          <datalist id="datalistOptions">
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
          </datalist>
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="ANNO" >
          <datalist id="datalistOptions">
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
          </datalist>
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="TEMA" >
          <datalist id="datalistOptions">
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
          </datalist>

        </div> 
        <div id="actualChoice" class="textBase"><small>Stavi leggendo</small>
          <p>Ritiro di Quaresima 2021 <a href="#">Continua ></a> </p>          
        </div>
      </div>
      <article id="cardsContainer">
             <div class="cardSelection">
                  <div class="cardContent">
                      <span>2021</span>
                  </div>
                  <div class="cardText">
                    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt.
                  </div> 
              </div>
              <div class="cardCategory red">
                <div class="cardContent">
                    <span>Incontro don Berchi</span>
                </div>
                <div class="cardText">
                  Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt.
                </div> 
            </div>
              <div class="cardCategory green">
                <div class="cardContent">
                    <span>Incontro don Berchi</span>
                </div>
                <div class="cardText">
                  Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt.
                </div> 
            </div>
            <div class="cardCategory red">
              <div class="cardContent">
                  <span>Incontro don Berchi</span>
              </div>
              <div class="cardText">
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt.
              </div> 
          </div>
      </article>

    </section>

