@{
    ViewData["Title"] = "Home Page";

}

@section Header {
    <link href="../../../css/logged.css" rel="stylesheet" type="text/css">

}

<section id="mainSection">
    <div class="content">
        <div>
            <h2>Registrazione profilo</h2>
            <p class="textBase">
                Completa i tuoi dati e accetta le condizioni di utilizzo della<br />
                piattaforma per poter entrare dentro ai servizi del sito.
            </p>
            <a href="#" class="textBase">< Torna al login</a>
        </div>


        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das
        daslòkj dfsalkdsaj ldaskòkj das

    </div>
</section>
