@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@using SanGiuseppe.helpers;
@section Header {
    <link href="../../../css/registration.css" rel="stylesheet" type="text/css">
}

@inject Funzioni funzioni

<section id="mainSection">
    <div class="content">
        <div>
            <h2>Recupero password</h2>
            <a href="/" class="textBase">< @funzioni.GetWord("Torna al login")</a>
        </div>

    </div>

</section>
<div id="registrationForm">
    <span class="d-lg-none">@funzioni.GetWord("Recupero password")</span>
    <span class="d-none d-lg-block">@funzioni.GetWord("Indica l'email di cui recuperare la password")</span>
    <form action="/Home/RecuperoPassword" method="post">
        <div>
            <label for="emailLogin" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" required>
        </div>

        <button type="submit" class="btn btn-primary">Richiedi password</button>
        <!--  <span>Leggi l’ <a href="google">Informativa</a></span>-->
        <span class="errore" style="text-align:left">@Html.Raw(ViewBag.msg)</span>
    </form>

</div>



