@model IEnumerable<SanGiuseppe.Models.Anagrafica>

@{
    ViewData["Title"] = "Index";
}
<main>
    <div class="container">
        <section>
            <h1>Anagrafiche</h1>
            <div class="card shadow">
                <div class="card-header">

                    <div class="heading-elements">

                    </div>
                    <div class="btn-group float-md-left" role="group" aria-label="Button group with nested dropdown">
                        <a asp-action="Create" class="btn btn-primary">INSERIMENTO</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="table-filter" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <tr class="cl_basefilter">
                            <th>Nome campo:</th>
                            <td>
                                <select id="Campo1" class="form-control cl_field"
                                        asp-items="@(new SelectList(ViewBag.Campi,"Campo","Descrizione"))"></select>
                            </td>
                            <th>Criterio:</th>
                            <td>
                                <select id="Criterio1" class="form-control cl_criteria">
                                    <option value="Contiene">Contiene</option>
                                    <option value="<"> < </option>
                                    <option value=">"> > </option>
                                    <option value="<="><= </option>
                                    <option value=">="> >= </option>
                                    <option value="="> = </option>

                                </select>
                            </td>
                            <th>Valore:</th>
                            <td><input id="Valore1" type="text" class="form-control cl_value" /></td>
                            <th><button id="btnAddFiltro" class="btn btn-sm btn-primary tr_clone_add"><i class="fas fa-plus"></i></button></th>
                            <th><button id="btnRemFiltro" class="btn btn-sm btn-primary tr_clone_rem"><i class="fas fa-minus"></i></button></th>
                        </tr>

                    </table>

                    <table id="anagrafica" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Cognome</th>
                                <th>Nome</th>
                                <th>Città</th>
                                <th>Cellulare</th>
                                <th>Email</th>
                                <th>Gruppo</th>
                                <th>Zona</th>
                                <th>Luogo di nascita</th>
                                <th>Data di nascita</th>
                               <th></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>


                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
</main>
        @section scripts {

            <script>

     //   $.noConflict();

        var iframe;
        var field;
        var criteria;
        var value;

        $(document).ready(function () {
            iframe = $('#id1')

            var table = $("#anagrafica").DataTable({
                dom: 'Blfrtip',
                buttons: [
                    'copy', 'csv', {
                        extend: 'excel',
                        footer: true,
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5,6,7,8]
                        }
                    }, 'pdf', 'print'
                ],
                processing: true, // for show progress bar
                serverSide: true, // for process server side
                filter: true, // this is for disable filter (search box)
                lengthMenu: [[10, 25, 50, 100,500,999999], [10, 25, 50, 100,500,"Tutti"]],
                pagingType: "full_numbers",
                orderMulti: false, // for disable multiple column at once
                fixedHeader: true,
                ajax: {
                    url: "/Anagrafica/LoadData",
                    type: "POST",
                    datatype: "json",
                    cache: false,
                    //contentType: "application/json;",
                    //data: { 'column': field, 'operation': criteria, 'value': value },
                    async: true
                },
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json",
                    searchBuilder: {
                        add: '+',
                        condition: 'Confronto',
                        clearAll: 'Reset',
                        deleteTitle: 'Elimina',
                        data: 'Campo',
                        leftTitle: 'Sinistra',
                        logicAnd: 'AND',
                        logicOr: 'OR',
                        rightTitle: 'Destra',
                        title: {
                            0: 'Filtri',
                            _: 'Filtri (%d)'
                        },
                        value: 'Valore',
                        valueJoiner: 'e',
                    }
                },
                "columns": [
                    { "data": "cognome", "name": "Cognome", "autoWidth": true},
                    { "data": "nome", "name": "Nome", "autoWidth": true},
                    { "data": "cittàDomicilio", "name": "CittàDomicilio", "autoWidth": true},
                    { "data": "cellulare", "name": "Cellulare", "autoWidth": true},
                    { "data": "email", "name": "Email", "autoWidth": true},
                    { "data": "gruppo", "name": "Gruppo", "autoWidth": true},
                    { "data": "zona", "name": "Zona", "autoWidth": true},
                    { "data": "luogodiNascita", "name": "LuogoDiNascita", "autoWidth": true },
                    { "data": "datadiNascita", "name": "DataDiNascita", "autoWidth": true},

                    {
                        "data": "none",
                        "name": "edit",
                        "orderable": false,
                        "render": function (data, type, row, meta) { return '<a class="btn btn-primary" target="_new" href="/anagrafica/EditBO/' + row.uid +'"><i class="fas fa-search"></i>&nbsp;DETTAGLIO</button>' }
                    }
                ],
                columnDefs: [
                    { width: "30%", targets: [0, 1, 2] },
                    { visible:false, targets:[5,6,7,8]}
                ],
            });
           
            var a = 1;

            


            var typingTimer;                //timer identifier
            var doneTypingInterval = 750;
            var $input = $('.cl_value');
            var $criteria = $('.cl_criteria');
            var $field = $('.cl_field');

            field = $('#Campo1').val() ?? "";
            criteria = $('#Criterio1').val() ?? "";
            value = $('#Valore1').val() ?? "";

            $input.each(function(i) {
                kUp();
            });
            $input.each(function(i) {
                kDown();
            });

            function kUp(){
                $(this).on('keyup', function () {
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(doneTyping, doneTypingInterval);
                });
            }
            function kDown(){
                $(this).on('keydown', function () {
                    clearTimeout(typingTimer);
                });
            }

            //user is "finished typing," do something
            function doneTyping () {
                var values = [];
                $('.cl_value').each(function(x) {
                    var f = $(this).closest('.cl_basefilter').find('.cl_field').val();
                    var c = $(this).closest('.cl_basefilter').find('.cl_criteria').val();
                    var v = $(this).val();
                    var searchValues = f + "|" + c + "|" + v;
                    values.push(searchValues);
                });
                //console.log(values.toString());

                table.search(values.toString(),true, false).draw();
            }

            $criteria.each(function(i) {
                changeCriteria();
            });
            $field.each(function(i){
                changeField();
            });
            function changeCriteria() {
                $(this).change( function() {
                    doneTyping();
                });
            }
            function changeField() {
                $(this).change( function() {
                    doneTyping();
                });
            }


            setTimeout(() => {
                // nascondo il campo ricerca della tabella
                // ed il primo pulsante meno per rimuovere un filtro ;)
                $('.dataTables_filter').hide();
                $('.tr_clone_rem')[0].hidden = true;
            },1);

            $('#table-filter').on('click', '.tr_clone_add', function() {
                $('.tr_clone_rem')[0].hidden = false; //questo gioco true/false mi serve per far appaire il meno nelle righe copiate
                var $tr = $(this).closest('.cl_basefilter');
                var $clone = $tr.clone();
                $clone.find(':text').val(''); //pulisco il campo di testo
                $tr.after($clone);
                $('.tr_clone_rem')[0].hidden = true;
                enableAllOnEveryAdd();
            });

            $('#table-filter').on('click', '.tr_clone_rem', function() {
                $(this).closest('.cl_basefilter').remove();
                doneTyping();
            });

            function enableAllOnEveryAdd(){
                $input.each(function(i) {
                    $(this).off();
                    kUp();
                });
                $input.each(function(i) {
                    $(this).off();
                    kDown();
                });

                $criteria.each(function(i) {
                    $(this).off();
                    changeCriteria();
                });
                $field.each(function(i){
                    $(this).off();
                    changeField();
                });
            }
    });



    function DeleteData(UID) {

        swal.fire({
            title: 'Attenzione',
            text: "Confermi di voler eliminare questa anagrafica?",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'No',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sì'
        }).then((result) => {
            if (result.value) {
                Delete(UID);
            }
            else {
                return false;
            }
        });

    }

    function Delete(UID) {
        var url = '@Url.Content("~/")' + "Anagrafica/Delete/"+UID;

        $.get(url, function(data) {
            if (data) {
                oTable = $('#anagrafica').DataTable();
                oTable.draw();
            } else {
                alert("Si e' verificato un errore!");
            }
        });
    }

    function chiudi() {
        oTable = $('#anagrafica').DataTable();
        oTable.draw();
    }
            </script>

            <style>
                .container {
                    max-width: 99% !important;
                }

                .text-wrap {
                    white-space: normal;
                }

                .width-400 {
                    width: 400px;
                }

                .tr_clone_rem:first {
                    display: none;
                }
            </style>
        }
