@model SanGiuseppe.Models.Utenti
@using SanGiuseppe.helpers;
@inject Funzioni funzioni
@{
    ViewData["Title"] = "Edit";
}

@section Header {
   
}
<main>
    <div class="container">
        <section>
            <h1 >
                Modifica password
            </h1>
           
            <div class="card shadow">
                <div class="card-header">
                    <span style="color:red!important; font-weight:bold!important">@ViewBag.msg</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4" style="margin:auto">
                           <form asp-action="ModificaPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="UID" class="form-control" />

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">@funzioni.GetWord("Password")</label>
                                    <input asp-for="Password" class="form-control" type="password" id="Password" onblur="controllaPassword()" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@funzioni.GetWord("Conferma password")</label>
                                    <input type="password" class="form-control" id="ConfermaPassword" onblur="controllaPassword()" />
                                </div>



                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary" id="btnConferma" onclick="return controllaPassword()">
                                        @funzioni.GetWord("Conferma")
                                    </button>
                                    <br />
                                    <span id="msgPassword" style="color:red!important; font-weight:bold!important"></span>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>

        </section>
        </div>
</main>

@section Scripts {


  



    <script>

        function controllaPassword() {
            if ($("#Password").val() == $("#ConfermaPassword").val() && $("#Password").val() != "") {
                /*           $("#btnConferma").prop("disabled",false);*/

                $("#msgPassword").html("")
                return true
            } else {
                //$("#btnConferma").attr("disabled", "true");
                $("#msgPassword").html("Le due password non sono uguali")
                return false
            }
        }

    </script>
}
