@model SanGiuseppe.Models.Utenti
@using SanGiuseppe.helpers;
@inject Funzioni funzioni
@{
    ViewData["Title"] = "Edit";
}

@section Header {
    <link href="~/css/logged.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/cropper.min.css">
    <style>
        .form-group {
            padding-bottom: 10px;
        }
    </style>
    <style>
        .label {
            cursor: pointer;
        }

        .progress {
            display: none;
            margin-bottom: 1rem;
        }

        .alert {
            display: none;
        }

        .img-container img {
            max-width: 100%;
        }

        .card {
            margin-left: auto;
            margin-right: auto;
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>
}
<main>
    <section>
        <h1 class="titleBase">
            Anagrafica
        </h1>
        <h2>Controlla e aggiorna i tuoi dati</h2>
       
            <div class="card">
                <div class="card-header">
                    <span style="color:red!important; font-weight:bold!important">@ViewBag.msg</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4" style="margin:auto">

                          
                           
                            <form asp-action="ModificaPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               
                                <input type="hidden" asp-for="UID" class="form-control" />

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">@funzioni.GetWord("Password")</label>
                                    <input asp-for="Password" class="form-control" type="password" id="Password" onblur="controllaPassword()" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@funzioni.GetWord("Conferma password")</label>
                                    <input type="password" class="form-control" id="ConfermaPassword" onblur="controllaPassword()" />                                 
                                </div>
      


                                <div class="form-group">
                                    <input type="submit" value='@funzioni.GetWord("Conferma")' class="btn btn-primary" disabled="disabled" id="btnConferma"><br />
                                    <span id="msgPassword"  style="color:red!important; font-weight:bold!important"></span>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
       
        </section>
</main>

@section Scripts {


  


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        function controllaPassword() {
            if ($("#Password").val() == $("#ConfermaPassword").val()) {
                $("#btnConferma").prop("disabled",false);
                $("#msgPassword").html("")
            } else {
                $("#btnConferma").attr("disabled", "true");
                $("#msgPassword").html("Le due password non sono uguali")
            }
        }

    </script>
}
