body{
  background: url("../img/bg-dot.jpg") #fff repeat top left;
}

/* COLORE PER TESTO DEL PLACEHOLDER */

::-webkit-input-placeholder { /* WebKit browsers */
  color:#FFF !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#FFF !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#FFF !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#FFF !important;
}



#mainSection {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: var(--m_padding);
  margin-top: 6.3rem;
  justify-content: center;
}


#mainSection .form-control{
  background: #f4f4f4;
  border-radius: 4rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.1rem;
}
#mainSection p.textBase {
  font-size: 1.08rem;
  padding: 0.1rem 0rem 0.4rem 0rem;
}

#mainSection .form-control {
  background: #f4f4f4;
  border-radius: 1.6rem;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  border: none;
}

#mainSection .content{
  text-align: center;
}

#mainSection .content > span{
  color: #6E4E45;
}
#mainSection h2 {  font-size: 2rem; }

#documentSection {
  padding: var(--m_padding);
  margin-top: 1.2rem;
}

#documentSection > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filtersContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
}

#filtersContainer .form-control {
  color: #fff;
  font-size: 1rem;
  padding: 0rem 1.4rem;
  border-radius: 1.6rem;
  font-weight: 500;
  background: #6E4E45;
  border: 1px solid #6E4E45;
  margin: 0.24rem 0rem;
  height: 2.6rem;
  text-align: center;
}

#filtersContainer .form-control:focus{
  color: #AD0E0E;
  border:1px solid #AD0E0E;
  background: #fff;
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 10%);
}

#filtersContainer .form-select option{
  font-size: 1.2rem;
}

#filtersContainer > button{
  margin: 0.4rem 0rem; 
}

#actualChoice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.57rem 0rem;
  font-size: 1.2rem;
}

#actualChoice p > a{
  color:  #AD0E0E;
  text-decoration: none;
}

#actualChoice p > a:hover{   text-decoration: underline; }

#cardsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.3rem;
}

.cardCategory,
.cardSelection{
  display: flex;
  width: 48%;
  flex-direction: column;
  padding-top: 0.92rem;
  align-items: center;
}

.cardCategory{  cursor:pointer; }
.cardCategory:hover{ 
  opacity:0.86;
  transition: all 0.2s linear;
 }

.cardContent{
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  padding: 0.8rem 1rem;
  display: flex;
  height: 8rem;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.cardSelection .cardContent{
  font-size: 2rem;
  border-radius: 8rem;
  align-items: center;
  background: #000; 
  width: 8rem;
  justify-content: center;
  font-weight: bold;
}

.orange .cardContent {
    background: #EAAC61;
}
.green .cardContent {
    background: #A9C087;
}
.yellow .cardContent {
    background: #EFCE84;
}
.turquois .cardContent {
    background: #8EBAAE;
}
.purple .cardContent {
    background: #C86964;
}
.grey .cardContent {
    background: #97A4AF;
}
.brown .cardContent {
    background: #AA8162;
}
.red .cardContent{  background: #AD0E0E; }












.cardText {
    font-size: 0.9rem;
    margin-top: 0.8rem;
    line-height: 1.1rem;
    padding-bottom: 0.24rem;
}



@media (min-device-width: 576px) {

  #filtersContainer .form-control {
    font-size: 1.2rem;
    padding: 0rem 2rem;
    margin: 0.3rem 0rem;
    height: 3.2rem;
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  #actualChoice {
      font-size: 1.4rem;
  }
  .cardText {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
  .cardContent {
    font-size: 1.8rem;
    line-height: 3rem;    
    height: 12rem;
  }  
  .cardSelection .cardContent {
    font-size: 3rem;
    border-radius: 12rem;
    width: 12rem;
}
  

  #mainSection {   margin-top: 9rem; }
  #mainSection h2 {   font-size: 3.8rem; }
  #mainSection p.textBase {
    font-size: 1.2rem;
    line-height: 1.6rem; 
  }
  .textBase {    font-size: 1.3rem; }

}

@media (min-width: 992px) {
  .cardContent {
    font-size: 1.8rem;
    line-height: 3rem;    
    height: 19rem;
  }  
  .cardSelection .cardContent {
    font-size: 4.5rem; 
    border-radius: 19rem;
    width: 19rem;
}
#filtersContainer .form-control {
  font-size: 1.3rem;
  padding: 0rem 2rem;
  margin: 0.3rem 0rem;
  height: 3.6rem;
}
#headerMenu .navbar-brand img {  max-width: 429px; }
#mainSection p.textBase {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
  
}

@media (min-width: 1200px) {
  
  #headerMenu {
    min-height: auto;
    padding: 0.65rem 1rem;
  }
  #mainSection {    margin-top: 6.5rem; }
  #mainSection .form-control { 
      background: #f4f4f4;
      border-radius: 4rem;
      padding: 0.76rem 1.5rem; 
      font-size: 1.1rem;
  }
  #documentSection > div:first-child, #filtersContainer {  flex-direction: row;  }
  #filtersContainer .form-control {
    font-size: 0.96rem;
    padding: 0rem 1rem;
    margin: 0rem 0.4rem;
    height: 2.6rem;
}
  #documentSection > div > span{   font-size: 1.24rem;
    padding-right: 1.2rem;
  }
  #actualChoice {
    font-size: 1.2rem;
    padding: 0rem 0rem 0rem 2rem;
    line-height: 1.4rem;
    min-width: 22rem;
  }
  #actualChoice p{
    text-align: left;
  }

  .textBase  {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .cardCategory, .cardSelection {    width: 32%; }
  .cardContent {   padding: 1.5rem 1.6rem;    
      font-size: 2.1rem;
      line-height: 2.45rem;
  }
  .cardText {
    font-size: 1.16rem;
    line-height: 1.7rem;
  }
  .cardSelection .cardContent {    font-size: 4.5rem; }
  #documentSection {    margin-top: 2.1rem; }

}


@media (min-width: 1400px) {
  #mainSection, #documentSection {
      max-width: 1340px;
      margin: 0 auto;
      margin-top: 3rem;
  }
  #mainSection{  margin-top: 6.5rem;  } 


}