header.logged {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 10;
}

header.logged #headerDefault {
  display: none;
}

header.logged #headerMenu {
  display: flex;
  width: 100%;
}
body{
  background: url("../img/bg-dot.jpg") #fff repeat top left;
}

/* COLORE PER TESTO DEL PLACEHOLDER */

::-webkit-input-placeholder { /* WebKit browsers */
  color:#FFF !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#FFF !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#FFF !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#FFF !important;
}



#mainSection {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: var(--m_padding);
  margin-top: 13.4rem;
  justify-content: center;
}


#mainSection .form-control{
  background: #f4f4f4;
  border-radius: 4rem;
  padding: 1rem 1.5rem;
  font-size: 2.8rem;
}
#mainSection .form-control {
  background: #f4f4f4;
  border-radius: 4rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border: none;
}

#mainSection .content{
  text-align: center;
}

#mainSection .content > span{
  color: #6E4E45;
}
#mainSection h2 {  font-size: 5rem; }

#documentSection {
  padding: var(--m_padding);
  margin-top: 3rem;
}

#documentSection > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filtersContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
}

#filtersContainer .form-control{
  color: #fff;
  font-size: 2.6rem;
  padding: 1.4rem 3rem;
  border-radius: 4rem;
  font-weight: 500;
  background: #6E4E45;
  border:1px solid #6E4E45;
  margin: 0.6rem 0rem;
  text-align: center;
}
#filtersContainer .form-control:focus{
  color: #AD0E0E;
  border:1px solid #AD0E0E;
  background: #fff;
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 10%);
}



#filtersContainer .form-select option{
  font-size: 1.2rem;
}

#filtersContainer > button{
  margin: 1rem 0rem; 
}

#actualChoice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0rem;
  font-size: 3rem;
}

#actualChoice p > a{
  color:  #AD0E0E;
  text-decoration: none;
}

#actualChoice p > a:hover{   text-decoration: underline; }

#cardsContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.cardCategory,
.cardSelection{
  display: flex;
  width: 48%;
  flex-direction: column;
  padding-top: 2.3rem;
  align-items: center;
}

.cardContent{
  color: #fff;
  font-size: 3rem;
  border-radius: 0.8rem;
  padding: 2rem 3.2rem;
  display: flex;
  height: 20rem;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.cardSelection .cardContent{
  font-size: 5rem;
  border-radius: 20rem;
  align-items: center;
  background: #000;
  width: 20rem;
  justify-content: center;
  font-weight: bold;
}


.red .cardContent{  background: #AD0E0E; }
.green .cardContent{  background: #A9C087; }


.cardText{
  font-size: 2.48rem;
  margin-top: 0.8rem;
  line-height: 3.1rem;
  padding-bottom: 0.3rem; 
}



@media (min-device-width: 576px) {

  #filtersContainer .form-control {
    font-size: 1.7rem;
    padding: 1.2rem 2rem;
  }
  #actualChoice {
      font-size: 2rem;
  }
  .cardText {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .cardContent {
    font-size: 2.4rem;
    line-height: 3rem;    
  }  

}

@media (min-width: 992px) {

  
}

@media (min-width: 1200px) {
  
  #headerMenu {
    min-height: auto;
    padding: 0.65rem 1rem;
  }
  #mainSection {    margin-top: 6.5rem; }
  #mainSection .form-control {
      background: #f4f4f4;
      border-radius: 4rem;
      padding: 0.76rem 1.5rem;
      font-size: 1.1rem;
  }
  #documentSection > div:first-child, #filtersContainer {  flex-direction: row;  }
  #filtersContainer .form-control {
      font-size: 0.96rem;
      padding: 0.55rem 1rem;
      margin: 0rem 0.4rem;
  }  
  #documentSection > div > span{   font-size: 1.24rem;
    padding-right: 1.2rem;
  }
  #actualChoice {
    font-size: 1.2rem;
    padding: 0rem 0rem 0rem 2rem;
    line-height: 1.4rem;
    min-width: 22rem;
  }
  #actualChoice p{
    text-align: left;
  }

  .textBase  {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .cardCategory, .cardSelection {    width: 32%; }
  .cardContent {   padding: 1.5rem 1.6rem;    
      font-size: 2.1rem;
      line-height: 2.45rem;
  }
  .cardText {
    font-size: 1.16rem;
    line-height: 1.7rem;
  }
  

}


@media (min-width: 1400px) {
  #mainSection, #documentSection {
      max-width: 1340px;
      margin: 0 auto;
      margin-top: 3rem;
  }
  #mainSection{  margin-top: 6.5rem;  } 


}