/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
  font-size: 16px;
}
.btn {
    height:unset!important
}

@font-face {
  font-family: 'effralight';
  src: url('../fonts/effra_light-webfont.woff2') format('woff2'),
       url('../fonts/effra_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --m_padding: 0rem 0.8rem;
  --text_color: #404040;
}

*::selection {
  background-color: #5f4b46;
  color: white;
}

body {
  /*font-family: "EffraW01-Light";*/
  font-family: 'effralight';
  background: #fbfbfb;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--m_padding);
  padding-top: 1.6rem;
  background: #fff;
}

footer>span {
  font-size: 1.12rem;
  font-weight: 600;
}

footer>div {
  width: 100%;
  display: flex;
  color: #6E4E45;
  justify-content: center;
  padding: 0.4rem;
}

footer>div img {
  width: 3.6rem;
}

footer>div span {
  font-size: 0.92rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  padding-left: 0.88rem;
}

footer>p {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-top: 2px solid #DBDBDB;
  padding-bottom: 2rem;
  margin-top: 0.4rem;
  padding-top: 0.4rem;
}

/* COLORE PER TESTO DEL PLACEHOLDER */
#headerMenu .form-control::-webkit-input-placeholder { /* WebKit browsers */
  color:#aaa !important;
  transform:translate3d(0,2px,0);
}
#headerMenu .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#888 !important;
  transform:translate3d(0,2px,0);
}
#headerMenu .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#888 !important;
  transform:translate3d(0,2px,0);
}
#headerMenu .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#aaa !important;
  transform:translate3d(0,2px,0);
}


header {
  display: flex;
  width: 100%;
  padding: var(--m_padding);
  position: relative;
}


.logged header {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 10;
}

.logged header #headerDefault {  display: none; }

.logged header #headerMenu {
  display: flex;
  width: 100%;
  min-height: 2rem;
}

.logged > main{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 4.3rem;
  padding-top: 0.74rem;
}


#profiloButton{  box-shadow: none;   
  padding: 0.7rem 0rem 0rem 0rem;
}

#profiloButton > img{  
  height: 49px;
  width: 49px;
  overflow: hidden;
  border-radius: 49px;
}
#profiloButton::after {  display: none; }
.dropdown-item.active, .dropdown-item:active {  background-color: #533a32; }
#profiloBox .dropdown-item{  
  padding: .5rem 0.7rem;
  font-weight: 600;
  font-size: 1.1rem;

}

 .titleBase{
  font-size: 1.8rem;
  color: #6E4E45;
  font-weight: bold;
 }


.inputBase {
  padding: 0.7rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 0.36rem;
}
.inputBase:focus, #loginBox .form-control:focus {
  border-color: #C1C1C1;
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 10%);
}
.inputBase:hover {  border-color: #aaa;  }

.textBase {
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 1.48rem;
  text-align: center;
}

#headerMenu {
  max-height: 100vh;
  background: #fff;
  border-bottom: 2px solid #f1f1f1;
  min-height: 8rem;
  padding: 1rem 0.4rem;
}

#headerMenu .nav-link {
  text-transform: uppercase;
  color: #404040;
  font-size: 1rem;
  padding: 0.8rem 0rem;
  font-family: 'Roboto', sans-serif;
}

#headerMenu .navbar-brand img {
  width: 100%;
}

#headerMenu .inputBase {
  background: url("../img/icon-microfono.svg") 1rem center no-repeat;
  padding-left: 2.8rem;
}

#navbarSupportedContent {
  justify-content: flex-end;
  margin-top: 0.4rem;
}
#mainSection h2 {
  font-size: 1.7rem;
  color: #6E4E45;
  font-weight: bold;
}

.navbar-brand {
  width: 63%;
}

.navbar-toggler {
  font-size: 1rem;
}


/*******************************************/


.btn-primary {
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-weight: 600;
    background: #6E4E45;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.4rem;
    line-height: initial;
}
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    height: 1.4rem!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
  background: #533a32;
  box-shadow: none;
  transition:all 0.2s linear;
}

#headerDefault {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.4rem;
}

#logo {
  width: 100%;
}

#headerMenu {
  display: none; 
}
 
#languageBox{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:var(--m_padding);
  padding-bottom: 1rem;
}

#languageBox>button {
  justify-content: center;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  width: 48%;
  background: #fff;
  font-size: 1.15rem;
  color: #6E4E45;
  font-weight: 600;
  align-items: center;
  display: flex;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

#languageBox>button:hover{
  /* opacity: 0.8; */
  transition: all 0.2s linear;
  transform: translateX(4px);
}


.navbar-toggler:focus {  box-shadow: 0 0 0 0.04rem; }
.navbar-light .navbar-toggler {
  color: rgb(42 42 42 / 25%);
  border-color: rgba(0,0,0,.1);
}

.logged #introText {  margin-top: 6rem; }


/* Small devices (landscape phones, 576px and up)*/

@media (min-device-width: 576px) {
  .textBase {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

.inputBase {
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
}
#headerMenu .inputBase {
  padding: 1.4rem 1.5rem 1.4rem 3rem;
  font-size: 1.4rem;
  line-height: inherit;
}

.btn-primary {
  font-size: 1.5rem;
  height: 4.3rem;
  }

  footer>span {
    font-size: 2rem;
  }
  footer>div span {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  footer>p {
    font-size: 2rem;
  }
  #headerMenu .nav-link {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .navbar-toggler {
    font-size: 2rem;
}
  .logged #introText {    
    margin-top: 8.2rem;
  }

#languageBox {
  justify-content: flex-start;
}

#languageBox>button {  width: 8.8rem;
margin-right: 0.4rem; }

  .logged > main{  margin-top: 6.4rem; }
  #profiloBox .dropdown-item{      font-size: 1.2rem; }

}

/* lg Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

#languageBox {
  width: 30%;
  max-width: 11.6rem;
  position: fixed;
  right: 1.2rem;
  top: 44vh;
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  z-index: 5;
}

#languageBox>button {
  width: 100%;
}

  header {
    position: absolute;
    top: 0px;
  }
  #logo {
    width: 23rem;
  }
  #headerDefault {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 4.3rem;
  }
  .btn-primary {
    border-radius: 0.34rem;
    height: 3.6rem;
  }
  .textBase, #sectionInfo>p {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.3rem;
  }
  #headerDefault>div>img {
    margin-left: 0.6rem;
  }
  #descriptionBoxHp_content>p .btn-primary {
    max-width: 22rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.6rem;
    width: 100%;
    padding: 0.8rem;
  }


  .inputBase{
    padding: .75rem .75rem;
    font-size: 1.1rem;
    border-radius: 0.4rem;
  }
  #headerMenu .container-fluid {
    justify-content: flex-end;
  }
  #headerMenu .nav-link {
    font-size: 1.3rem;
    padding: 1rem 0rem;
  }
  #headerMenu .nav-link:hover {
    opacity: 0.7;
}
  .navbar-brand {
    margin-right: auto;
  }
  .navbar-toggler {
    font-size: 2rem;
    margin-left: 1.6rem;
  }
  footer{
    padding-top: 3.6rem;
  }
  footer>p {
    font-size: 1.4rem;
    padding-top: 0.6rem;
    margin-top: 1rem;
}
  footer>div span {
      font-size: 1.5rem;
      line-height: 2rem;
  }
  footer>span {
    font-size: 1.6rem;
  }

  #languageBox {   position: absolute;   }

  .logged > main{   margin-top: 7.8rem; }

}


@media (max-width: 1200px) {
  #profiloBox .dropdown-menu{
    position: relative;
    border: none; 
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .titleBase {  font-size: 3.1rem; }
  #loginBox {
    padding: 2.8rem 3rem;
    top: 19vh;
  }
  #headerDefault {
    padding: 4.3rem;
  }
  #logo {
    width: 26.8rem;
    max-width: 33%;
  }
  #homepage #mainSection {
    padding-top: 1rem;
  }
  .btn-primary {
    border-radius: 0.4rem;
  }
  #bgHome {
    max-width: 57.3rem;
  }
  .textBase, #sectionInfo>p {
    font-weight: 500;
    font-size: 1.44rem;
    line-height: 2rem;
  }

  footer>span {
    font-size: 1.3rem;
    font-weight: 500;
  }
  footer>div span {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  footer>div img {
    width: 3.8rem;
  }
  footer>p {
    font-size: 1.16rem;
    padding-top: 0.6rem;
  }
  .btn-primary{
      font-size: 1.2rem;
      padding: 1rem;
  }

  #headerMenu .navbar-brand {
      max-width: 17.4rem;
      margin-left: 2rem;
  }

  #headerMenu .nav-link {
    font-size: 0.94rem;
    padding: 0rem 1.5vw;
    font-weight: 400;
  }
  #headerMenu .inputBase {
    padding: 0.6rem 1rem 0.6rem 2.7rem;
    font-size: 1rem;
    border-radius: 1.6rem;
  }
  #profiloBox {
    order: 4;
    display: flex !important;
    padding-left: 1rem;
    align-items: center;
    cursor: pointer;
  }

  #profiloBox>span {
    margin-right: 0.5rem;
  }

  #navbarSupportedContent {
    margin-top: 0rem;
  }
  #mainSection h2 {  font-size: 3.1rem; }

#navbarSupportedContent {
  padding-right: 1rem;
}

#languageBox {
  top: 30vh /*40*/;
}

.logged > main{
  margin-top: 4.4rem;
}
#profiloBox .dropdown-item {  font-size: 1rem; }

}

@media (min-width: 1440px) {

  #headerMenu .nav-link {
    font-size: 1rem;
  }
  #headerMenu .navbar-brand {
    max-width: 21rem;
  }
  #navbarSupportedContent ul {
    flex: 1;
    justify-content: flex-end;
  }
}

@media (min-width: 1600px) {

  #headerMenu .nav-link {
    padding: 0rem 2rem;
  }
}
.form-control {
    font-weight:600!important;

}