/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
  font-size:16px;
}

body{

}

#mainSection{
  width:100%;
  min-height: 100vh;
  background:url("../img/bg-home.jpg") #fff no-repeat bottom center;
}

#headerMenu{
  display: none;
}

