@model SanGiuseppe.Models.Anagrafica

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Anagrafica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idanagrafica" class="control-label"></label>
                <input asp-for="Idanagrafica" class="form-control" />
                <span asp-validation-for="Idanagrafica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroIscrizione" class="control-label"></label>
                <input asp-for="NumeroIscrizione" class="form-control" />
                <span asp-validation-for="NumeroIscrizione" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SanGiuseppe" /> @Html.DisplayNameFor(model => model.SanGiuseppe)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sesso" class="control-label"></label>
                <input asp-for="Sesso" class="form-control" />
                <span asp-validation-for="Sesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuogodiNascita" class="control-label"></label>
                <input asp-for="LuogodiNascita" class="form-control" />
                <span asp-validation-for="LuogodiNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatadiNascita" class="control-label"></label>
                <input asp-for="DatadiNascita" class="form-control" />
                <span asp-validation-for="DatadiNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cittadinanza" class="control-label"></label>
                <input asp-for="Cittadinanza" class="form-control" />
                <span asp-validation-for="Cittadinanza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazione" class="control-label"></label>
                <input asp-for="Nazione" class="form-control" />
                <span asp-validation-for="Nazione" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Cellulare" class="control-label"></label>
                <input asp-for="Cellulare" class="form-control" />
                <span asp-validation-for="Cellulare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroIscrizioneFraternità" class="control-label"></label>
                <input asp-for="NumeroIscrizioneFraternità" class="form-control" />
                <span asp-validation-for="NumeroIscrizioneFraternità" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gruppo" class="control-label"></label>
                <input asp-for="Gruppo" class="form-control" />
                <span asp-validation-for="Gruppo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zona" class="control-label"></label>
                <input asp-for="Zona" class="form-control" />
                <span asp-validation-for="Zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codfisc" class="control-label"></label>
                <input asp-for="Codfisc" class="form-control" />
                <span asp-validation-for="Codfisc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoDomicilio" class="control-label"></label>
                <input asp-for="IndirizzoDomicilio" class="form-control" />
                <span asp-validation-for="IndirizzoDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapDomicilio" class="control-label"></label>
                <input asp-for="CapDomicilio" class="form-control" />
                <span asp-validation-for="CapDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CittàDomicilio" class="control-label"></label>
                <input asp-for="CittàDomicilio" class="form-control" />
                <span asp-validation-for="CittàDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaDomicilio" class="control-label"></label>
                <input asp-for="ProvinciaDomicilio" class="form-control" />
                <span asp-validation-for="ProvinciaDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazioneDomicilio" class="control-label"></label>
                <input asp-for="NazioneDomicilio" class="form-control" />
                <span asp-validation-for="NazioneDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoResidenza" class="control-label"></label>
                <input asp-for="IndirizzoResidenza" class="form-control" />
                <span asp-validation-for="IndirizzoResidenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapResidenza" class="control-label"></label>
                <input asp-for="CapResidenza" class="form-control" />
                <span asp-validation-for="CapResidenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CittàResidenza" class="control-label"></label>
                <input asp-for="CittàResidenza" class="form-control" />
                <span asp-validation-for="CittàResidenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaResidenza" class="control-label"></label>
                <input asp-for="ProvinciaResidenza" class="form-control" />
                <span asp-validation-for="ProvinciaResidenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazioneResidenza" class="control-label"></label>
                <input asp-for="NazioneResidenza" class="form-control" />
                <span asp-validation-for="NazioneResidenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professione" class="control-label"></label>
                <input asp-for="Professione" class="form-control" />
                <span asp-validation-for="Professione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartecipaRitiro" class="control-label"></label>
                <input asp-for="PartecipaRitiro" class="form-control" />
                <span asp-validation-for="PartecipaRitiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartecipaRitiroData" class="control-label"></label>
                <input asp-for="PartecipaRitiroData" class="form-control" />
                <span asp-validation-for="PartecipaRitiroData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Albergo" class="control-label"></label>
                <input asp-for="Albergo" class="form-control" />
                <span asp-validation-for="Albergo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera" class="control-label"></label>
                <input asp-for="Camera" class="form-control" />
                <span asp-validation-for="Camera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraSingola" class="control-label"></label>
                <input asp-for="CameraSingola" class="form-control" />
                <span asp-validation-for="CameraSingola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroQuota" class="control-label"></label>
                <input asp-for="RitiroQuota" class="form-control" />
                <span asp-validation-for="RitiroQuota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroSupplentoSingola" class="control-label"></label>
                <input asp-for="RitiroSupplentoSingola" class="form-control" />
                <span asp-validation-for="RitiroSupplentoSingola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroImporto" class="control-label"></label>
                <input asp-for="RitiroImporto" class="form-control" />
                <span asp-validation-for="RitiroImporto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroPagamentoImporto" class="control-label"></label>
                <input asp-for="RitiroPagamentoImporto" class="form-control" />
                <span asp-validation-for="RitiroPagamentoImporto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroPagamentoData" class="control-label"></label>
                <input asp-for="RitiroPagamentoData" class="form-control" />
                <span asp-validation-for="RitiroPagamentoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroPagamentoIdtransazione" class="control-label"></label>
                <input asp-for="RitiroPagamentoIdtransazione" class="form-control" />
                <span asp-validation-for="RitiroPagamentoIdtransazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RitiroPagamentoCro" class="control-label"></label>
                <input asp-for="RitiroPagamentoCro" class="form-control" />
                <span asp-validation-for="RitiroPagamentoCro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotaFondoComune" class="control-label"></label>
                <input asp-for="QuotaFondoComune" class="form-control" />
                <span asp-validation-for="QuotaFondoComune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotaFondoComuneValuta" class="control-label"></label>
                <input asp-for="QuotaFondoComuneValuta" class="form-control" />
                <span asp-validation-for="QuotaFondoComuneValuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsenteFondoComune" class="control-label"></label>
                <input asp-for="EsenteFondoComune" class="form-control" />
                <span asp-validation-for="EsenteFondoComune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagamento" class="control-label"></label>
                <input asp-for="TipoPagamento" class="form-control" />
                <span asp-validation-for="TipoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnoDiInizio" class="control-label"></label>
                <input asp-for="AnnoDiInizio" class="form-control" />
                <span asp-validation-for="AnnoDiInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLettera" class="control-label"></label>
                <input asp-for="DataLettera" class="form-control" />
                <span asp-validation-for="DataLettera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nuovo" class="control-label"></label>
                <input asp-for="Nuovo" class="form-control" />
                <span asp-validation-for="Nuovo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selezionato" class="control-label"></label>
                <input asp-for="Selezionato" class="form-control" />
                <span asp-validation-for="Selezionato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviaEmail" class="control-label"></label>
                <input asp-for="InviaEmail" class="form-control" />
                <span asp-validation-for="InviaEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lingua" class="control-label"></label>
                <input asp-for="Lingua" class="form-control" />
                <span asp-validation-for="Lingua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
